<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-black text-blue-500">
    <form action="/admin/auth/1007" method="post">
      <h1>Name</h1>
      <input class="border-5" type="password" name="password" id="" />

      <button type="submit">AUTH</button>
    </form>
  </body>
</html>
