<div
  class="flex justify-between px-3 py-3 max-md:flex-col max-md:items-center max-md:gap-4"
>
  <img class="img" src="./ISTE.png" alt="ISTE Logo" />
  <img class="img" src="./AmongUs.png" alt="AmongUs Logo " />
</div>
