<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>See You! ❤️</title>
    <link rel="stylesheet" href="./styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="./favicon.png" />
  </head>
  <body class="text-white bg-black">
    <% for(let i=0; i<170; i++) { %>
    <div
      class="star"
      style="
        top: <%= Math.random() * 100 %>vh;
        left: <%= Math.random() * 100 %>vw;
        animation-duration: <%= Math.random() * 5+1 %>s;
      "
    ></div>
    <% } %> <%- include("logo.ejs") %>
    <div class="flex justify-center items-center mt-24 text-5xl">
      THANK YOU FOR YOUR RESPONSE
    </div>
  </body>
</html>
