body {
    margin: 0;
   overflow-x: hidden;
  
   
   padding: 0;
}
html{
    margin: 0;
    padding: 0;
}

*{
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
 .star {
            position: absolute;
            background: white;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            animation: twinkling linear infinite;
            z-index: -10;
        }
        @keyframes twinkling {
            0% {opacity: 0;}
            50% {opacity: 1;}
            100% {opacity: 0;}
        }

.card{
    max-height: 15rem;
    min-height: 2rem;
    max-width: 21rem;
    width: 20rem;
    border: solid white 3px;
     box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.4);
    
}


.w{
    width: 33rem;

}


.img{
    width: 12rem;
}

@media (max-width:786px) {
    .card{
        width: 15rem;
        min-width : 8rem;
    }
    
}

.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 7px solid #a12727;
    border-radius: 9px;
    background: #ff4a4a;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff4a4a), to(#992727));
    background: -moz-linear-gradient(top, #ff4a4a, #992727);
    background: linear-gradient(to bottom, #ff4a4a, #992727);
    -webkit-box-shadow: #ff5959 0px 9px 1px 0px;
    -moz-box-shadow: #ff5959 0px 9px 1px 0px;
    box-shadow: #ff5959 0px 9px 1px 0px;
    font: normal normal bold 20px times new roman;
    color: #ffffff;
    text-decoration: none;
}
.btn:hover,
.btn:focus {
    background: #ff5959;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff5959), to(#b62f2f));
    background: -moz-linear-gradient(top, #ff5959, #b62f2f);
    background: linear-gradient(to bottom, #ff5959, #b62f2f);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #982727;
    background: -webkit-gradient(linear, left top, left bottom, from(#982727), to(#982727));
    background: -moz-linear-gradient(top, #982727, #982727);
    background: linear-gradient(to bottom, #982727, #982727);
}



/* CSS */
.button-54 {
  font-family: "Open Sans", sans-serif;
  width: 8rem;
  height: 4rem;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #F24645;
  cursor: pointer;
  border: 3px solid #4C1817;
  padding: 0.25em 0.5em;
 
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}